<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener Microservice </h1>
      <main>
        <section>
          <form action="api/shorturl" method="POST">
            <fieldset>
              <legend>✨ Shorten Your Link in Seconds ✨</legend>
              <label for="url_input">Enter Your URL:</label>
              <input
                id="url_input"
                type="text"
                name="url"
                placeholder="https://www.freecodecamp.org/"
                required
              />
              <input type="submit" value="🚀 Shorten URL" />
            </fieldset>
          </form>
        </section>
      </main>
      <footer>
        <p>By <a href="https://davidsheinbeinengineer.com/">David Sheinbein</a></p>
      </footer>
    </div>
  </body>
</html>
